<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cloudFinal11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>Notification</display-name>
    <servlet-name>Notification</servlet-name>
    <servlet-class>cloudFinal11.Notification</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Notification</servlet-name>
    <url-pattern>/Notification</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>addAnswerServlet</display-name>
    <servlet-name>addAnswerServlet</servlet-name>
    <servlet-class>cloudFinal11.addAnswerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addAnswerServlet</servlet-name>
    <url-pattern>/addAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>uploadServlet</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>cloudFinal11.uploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <display-name>NotificationServer</display-name>
    <servlet-name>NotificationServer</servlet-name>
    <servlet-class>cloudFinal11.NotificationServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NotificationServer</servlet-name>
    <url-pattern>/NotificationServer</url-pattern>
  </servlet-mapping>
</web-app>